<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.testflightapp.ios.cordova-plugin"
    version="1.0.0">

    <name>TestFlight SDK</name>
	
    <engines>
        <engine name="cordova" version=">=2.2.0" />
    </engines>
	
    <access origin="*.testflightapp.com" />
    <asset src="www/testflight.js" target="plugins/testflight.js" />

    <!-- ios -->
    <platform name="ios">
        <!-- Only for Cordova 2.2.0 -->
        <plugins-plist key="TestFlightSDK" string="CDVTestFlight" />

        <config-file target="config.xml" parent="/*/plugins">
            <plugin name="TestFlightSDK" value="CDVTestFlight"/>
        </config-file>
        
        <!-- feature tag in config.xml -->
        <config-file target="config.xml" parent="/widget">
          <feature name="TestFlightSDK">
            <param name="ios-package" value="CDVTestFlight"/>
          </feature>
        </config-file>

        <header-file src="src/ios/TestFlight.h" />
        <header-file src="src/ios/CDVTestFlight.h"/>
        
        <source-file src="src/ios/CDVTestFlight.m" />
        <source-file src="src/ios/libTestFlight.a" framework="true"/>
        
        <framework src="libz.dylib" />
        
                <info>
Add this script tag to your index.html:
    &lt;script src="plugins/testflight.js"&gt;&lt;/script&gt;
	    </info>

    </platform>
</plugin>